{% extends 'base.html' %}

{% block title %}{{ country.name }}{% endblock %}

{% block content %}
<h1>{{ country.name }}</h1>
<ul class="list-group">
    {% for item in state_city_data %}
    <li class="list-group-item">
        <a href="{{ item.state.get_absolute_url }}">{{ item.state.name }}</a>
        <small>(Top cities: 
        {% for city in item.top_cities %}
            <a href="{{ city.get_absolute_url }}">{{ city.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        )</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}
